body {
    color: #3C486B;
    font-family: Helvetica;
    width: 95%;
    height: 100%;
    margin: auto;
    padding: auto;
}

header{
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    background-color: #3C486B;
    color: aliceblue;
    position: fixed;
}

.head-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.head-container h6{
 font-size: small;
}

#logo{
    height: 40px;
    background-color: #210062;
}

nav a{
    text-decoration: none;
    margin-left: 10px;
    color:aliceblue ;
    height: 100%;
}

nav a:hover{
    background-color: antiquewhite;
    color:#210062 ;
}
#container{
    margin-top: 10%;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: row;
}

main #employees-information p{
    margin: 5px;
}

footer{
    background-color: #C0DBEA;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap:5px;
    font-size: small;
    position: fixed;
    bottom: 0;
}

fieldset{
    border: 1px solid;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

.icon{
    width: 20px;
}

.info div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

#con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.cards{
    background-color:#ADE4DB;
    width: 30%;
    text-align: center;
    align-items: center;
    margin-left: 5px;
    font-size: large;
    width: 50%;
}

#admin, #fin{
    background-color: #BFCCB5;
}

.cards h4{
    font-size: small;
}

#container .cards div{
    width: 150px;
    height: 100px;
    padding: 50px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border: 1px solid;
    font-size: 10px;
}

#container .cards div img{
    width: 100px;
}
